/* RULES */
:root {
    --main-slate: #434455;
    --white: #FFFFFF;
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --ocean: #404BBF;
    --cloud: #F4F4FD;
    --corn: #E7E9FC;
    --modal-bg: #FCFCFC;
    --green: #31D0AA;
    --light-slate: #8E8F99;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-slate);
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* RULES */

/* PHONE */
.container{
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}